* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

.plan {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 9;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/sources/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/sources/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("/sources/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/sources/fonts/Roboto/Roboto-Bold.ttf");
}
p {
  font-family: "Roboto-Light";
  font-size: 1.1em;
  letter-spacing: 0.05px;
}

h1 {
  font-size: 1.5em;
}

h1, h2 {
  font-family: "Roboto-Bold";
}

h3, a {
  font-family: "Roboto-Medium";
}

button, a {
  font-size: 1em;
}

.regular, button {
  font-family: "Roboto-Regular";
}

.header__box-position, .header__box-logo {
  display: flex;
  justify-content: center;
}

.header__box-decouverte {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__box-logo {
  padding: 22px 0px 13px 0px;
  box-shadow: 0px 5px 5px #e0e1e3;
  position: relative;
}
.header__box-logo--logo {
  width: 165px;
}

.footer {
  background-color: #353535;
  padding: 27px 0px 20px 25px;
}
.footer__box-logo--logo {
  width: 100px;
}
.footer__box-nav-icones {
  margin-top: 17px;
}
.footer__box-nav-icones--picto {
  width: 15px;
}

.footer__box-nav-icones li, .footer__box-nav li {
  margin-bottom: 7px;
}

.header__box-position {
  background-color: #eaeaea;
  font-size: 0.9em;
  padding: 15px;
}
.header__box-position--picto {
  width: 20px;
  height: 18px;
  margin-right: 11px;
}
.header__box-position--txt {
  margin-right: 32px;
}
.header__box-decouverte {
  background: linear-gradient(white, #f6f6f6);
  text-align: center;
  padding-top: 39px;
  align-items: center;
}
.header__box-decouverte--titre {
  margin-right: 20px;
}
@media screen and (min-width: 600px) {
  .header__box-decouverte--titre {
    margin: 20px;
    font-size: 2em;
  }
}
.header__box-decouverte--txt {
  margin: 12px 0px 0px 5px;
}
@media screen and (min-width: 600px) {
  .header__box-decouverte--txt {
    margin: 0px;
    font-size: 1.3em;
  }
}
.header__box-decouverte--bouton {
  padding: 15px;
  margin: 32px 75px 20px 82px;
  border-radius: 999px;
  background: linear-gradient(#e872da, #9f5adc);
  color: white;
  box-shadow: 0px 5px 5px #e0e1e3;
  width: 218px;
}
.header__box-titre {
  margin-top: 86px;
}
@media screen and (min-width: 600px) {
  .header__box-titre {
    text-align: center;
    font-size: 1.3em;
  }
}
.header__box-titre--titre {
  margin-left: 20px;
}

.header__box-nav ul {
  margin: 26px 0px 0px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header__box-nav--picto-tel {
  background-image: url(/sources/picto/picto_mobile.png);
}

.header__box-nav--picto-menu {
  background-image: url(/sources/picto/picto_menu.png);
}

.header__box-nav--picto-store {
  background-image: url(/sources/picto/picto_store.png);
}

.header__box-nav--picto-tel:hover {
  background-image: url(/sources/picto/picto_mobile_violet.png);
}

.header__box-nav--picto-menu:hover {
  background-image: url(/sources/picto/picto_menu_violet.png);
}

.header__box-nav--picto-store:hover {
  background-image: url(/sources/picto/picto_store_violet.png);
}

.header__box-nav--picto-tel, .header__box-nav--picto-menu, .header__box-nav--picto-store {
  box-shadow: 0px 5px 5px #e0e1e3;
  cursor: pointer;
  width: 322px;
  height: 63px;
  background-repeat: no-repeat;
  background-size: 22px, 20px;
  background-position: right 92% bottom 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin: 0px 20px 25px 0px;
}

.header__box-nav--picto-tel:hover, .header__box-nav--picto-menu:hover, .header__box-nav--picto-store:hover {
  background-color: #f5edff;
}

.rond {
  background-color: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 66px;
}
.main__article {
  padding: 55px 0px 50px 0px;
  background-color: #f6f6f6;
}
.main__article--box-titre {
  margin-left: 20px;
  margin-bottom: 22px;
}
@media screen and (min-width: 600px) {
  .main__article--box-titre {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.3em;
  }
}
.main__article--box-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer a {
  color: white;
  font-family: "Roboto-Regular";
}

.nouveau__txt {
  font-family: "Roboto-Regular";
  font-size: 0.85em;
  margin: 6px 13px 6px 13px;
}

.section {
  margin: 0px 20px 0px 20px;
}
.section__box-img {
  position: relative;
}
.section__box-img--img {
  border-radius: 20px 20px 0px 0px;
}
.section__box-img--box-nouveau {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  right: 14px;
  top: 14px;
  border-radius: 2px;
}
.section__box-description {
  box-shadow: 0px 5px 5px #e0e1e3;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 0px 14px;
  margin: -8px 0px 17px 0px;
  border-radius: 0px 0px 20px 20px;
}
.section__box-description--txt {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  margin-bottom: 14px;
  color: black;
}
.section__box-description--box-picto {
  background-image: url(/sources/picto/picto_coeur.png);
  background-size: 25px 22px;
  margin: 7px 24px 0px 0px;
  width: 25px;
  height: 22px;
  cursor: pointer;
}
.section__box-description--box-picto:hover {
  background-image: url(/sources/picto/picto_coeur_rose.png);
  background-size: 25px 22px;
}

/*# sourceMappingURL=style.css.map */
