*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body{
    background-color: #f6f6f6;
}

@import "./01_base/01_A_typo";
@import "./02_utils/02_A_variables";
@import "./02_utils/02_B_placeholders";
@import "./03_layouts/03_A_header";
@import "./03_layouts/03_B_main_article";
@import "./03_layouts/03_C_main_section";
@import "./03_layouts/03_D_footer";
@import "./04_components/04_A_header";
@import "./04_components/04_B_main_article";
@import "./04_components/04_C_main_section";
