.main{
    margin-top: 66px;
    width: 100%;

    &__article{
        padding: 55px 0px 50px 0px;
        background-color: #f6f6f6;

        &--box-titre{
            margin-left: $margeGauH2;
            margin-bottom: 22px;
            @media screen and (min-width: 600px){
                text-align: center;
                margin-bottom: 60px;
                font-size: 1.3em;
            }
        }
        &--box-sections{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

footer a{
    color: white;
    font-family: $regular;
}