
.nouveau__txt{
    font-family: $regular;
    font-size: 0.85em;
    margin: 6px 13px 6px 13px;
}

.section{
    margin: 0px 20px 0px 20px;

    &__box-img{
        position: relative;

        &--img{
            border-radius: 20px 20px 0px 0px;
        }

        &--box-nouveau{
            position: absolute;
            background-color: #99e2d0;
            color: #008766;
            right: 14px;
            top: 14px;
            border-radius: 2px;
        }
    }

    &__box-description{
        box-shadow: 0px 5px 5px  #e0e1e3;
        display: flex;
        justify-content: space-between;
        padding: 15px 0px 0px 14px;
        margin: -8px 0px 17px 0px;
        border-radius: 0px 0px 20px 20px;

        &--txt{
            display: flex;
            flex-direction: column;
            line-height: 24px;
            margin-bottom: 14px;
            color: black;
        }
        &--box-picto{
            background-image: url(/sources/picto/picto_coeur.png);
            background-size: 25px 22px;
            margin: 7px 24px 0px 0px;
            width: 25px;
            height: 22px;
            cursor: pointer;

            &:hover{
                background-image: url(/sources/picto/picto_coeur_rose.png);
                background-size: 25px 22px;
                transition: ease-in-out 1s;
            }
        }
    }
}