.header{
    &__box-position{
        @extend %flexCenterH;
        background-color: #eaeaea;
        font-size: 0.9em;
        
        padding: 15px;
        &--picto{
            width: 20px;
            height: 18px;
            margin-right: 11px;
        }
        &--txt{
            margin-right: 32px;
        }
    }
    &__box-decouverte{
        @extend %flexCenterVCol;
        background: linear-gradient(white, #f6f6f6);
        text-align: center;
        padding-top: 39px;

        &--titre{
            margin-right: 20px;
        }
        &--txt{
            margin: 12px 0px 0px 5px;
        }
        &--bouton{
            padding: 15px;
            margin: 32px 75px 20px 82px;
            border-radius: 999px;
            background: linear-gradient(#e872da, #9f5adc);
            color: white;
            box-shadow: 0px 5px 5px  #e0e1e3;
        }
    }
    &__box-titre{
        margin-top: 86px;
        
        &--titre{
            margin-left: $margeGauH2;
        }
    }
}

.header__box-nav{
    margin-top: 26px;
}

.ul{
    padding: 0px 20px 0px 32px;

    &__a{
        box-shadow: 0px 5px 5px  #e0e1e3;
        display: flex;
        padding: 30px 25px 20px 5px;
        border-radius: 20px;
        margin-top: 23px;
        color: black;

        &:hover{
            background-color: #f5edff;
        }

        &--rond{
            @extend %flexCenterHV;
            background-color: #9356dc;
            color: white;
            width: 25px;
            height: 25px;
            border-radius: 999px;
            position: relative;
            left: -17px;
            top: 0px;
            font-size: 0.85em;
            font-family: $light;
        }
        &--picto{
            width: 22px;
            height: 20px;
            margin-right: 22px;
        }
    }
}