.header{
    &__box-position{
        @extend %flexCenterH;
        background-color: #eaeaea;
        font-size: 0.9em;
        
        padding: 15px;
        &--picto{
            width: 20px;
            height: 18px;
            margin-right: 11px;
        }
        &--txt{
            margin-right: 32px;
        }
    }
    &__box-decouverte{
        @extend %flexCenterVCol;
        background: linear-gradient(white, #f6f6f6);
        text-align: center;
        padding-top: 39px;
        align-items: center;

        &--titre{
            @media screen and (min-width: 600px){
                margin: 20px;
                font-size: 2em;
            }
        }
        &--txt{
            margin: 12px 0px 0px 0px;
            @media screen and (min-width: 600px){
                margin: 0px;
                font-size: 1.3em;
            }
        }
        &--bouton{
            padding: 15px;
            margin: 32px 75px 20px 82px;
            border-radius: 999px;
            background: linear-gradient(#e872da, #9f5adc);
            color: white;
            box-shadow: 0px 5px 5px  #e0e1e3;
            width: 218px;
            cursor: pointer;
        }
    }
    &__box-titre{
        margin-top: 86px;
        @media screen and (min-width: 600px){
            text-align: center;
            font-size: 1.3em;
        }
        
        &--titre{
            margin-left: $margeGauH2;
        }
    }
}

.header__box-nav ul{
    margin: 26px 0px 0px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header__box-nav--picto-tel{
    background-image: url(./sources/picto/picto_mobile.png);
}

.header__box-nav--picto-menu{
    background-image: url(./sources/picto/picto_menu.png);
}

.header__box-nav--picto-store{
    background-image: url(./sources/picto/picto_store.png);
}

.header__box-nav--picto-tel:hover{
    background-image: url(./sources/picto/picto_mobile_violet.png);
}

.header__box-nav--picto-menu:hover{
    background-image: url(./sources/picto/picto_menu_violet.png);
}

.header__box-nav--picto-store:hover{
    background-image: url(./sources/picto/picto_store_violet.png);
}

.header__box-nav--picto-tel, .header__box-nav--picto-menu, .header__box-nav--picto-store{
    box-shadow: 0px 5px 5px  #e0e1e3;
    cursor: pointer;
    width: 322px;
    height: 63px;
    background-repeat: no-repeat;
    background-size: 22px, 20px;
    background-position: right 92% bottom 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    background-color: #f6f6f6;
    margin: 0px 20px 25px 0px;
    
}

.header__box-nav--picto-tel:hover, .header__box-nav--picto-menu:hover, .header__box-nav--picto-store:hover{
    background-color: #f5edff;
}

.rond{
    background-color: #9356dc;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
