.footer{
    background-color: #353535;
    padding: 27px 0px 20px 25px;

    &__box-logo{

        &--logo{
            width: 100px;
        }
    }
    &__box-nav-icones{
        margin-top: 17px;

        &--picto{
            width: 15px;
        }
    }
}

.footer__box-nav-icones li, .footer__box-nav li{
    margin-bottom: 7px;
}
