%flexCenterHV{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexCenterHVCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%flexCenterH{
    display: flex;
    justify-content: center;
}

%flexCenterHCol{
    display: flex;
    align-items: center;
    flex-direction: column;
}

%flexCenterV{
    display: flex;
    align-items: center;
}

%flexCenterVCol{
    display: flex;
    justify-content: center;
    flex-direction: column;
}